

    body {
        margin: 0;
    }

    .root {
        padding: 0 230px;
        background-color: rgb(14,14,14);
    }



    .header-container {
        padding: 0 230px;
        background-color: #1f2937;
    }

    .header {
        background-color: #1f2937;
        color: white;
    }

    .header-logo {
        flex: 1;
    }

    .header-logo img{
        border-radius: 10px;
    }

    .row {
        display: flex;
    }

    .header-links {
        padding-top: 30px;
        font-size: 20px;
    }

    .header-link {
        padding: 0 10px;
        color: #e5e7eb;
        font-size: 18px;
        
        
    }

    .h-link {
        color: white;
        white-space: nowrap;
        text-decoration: none;
    }

    .website-header-info {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .info {
        padding: 10px;
    }

    .col {
        flex: 1;
    }

    /* .col-no-size { // no-size meaning : flex is not defined . 
         flex :1; 
    } */

    .info-hero-text {
        font-size: 48px;
        font-weight: 900;
        color: #f9faf8;
        margin: 0;
        
        font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif;
    }


    .info-secondar-text {
        font-size: 18px;
        color: #e5e7eb;
        font-weight: normal;
        
    }

    .img-container{
        height: 160px;
        width: 500px;
    }

    .recipes-image {
        width: 100%;
        height: 100%;

        object-fit:fill;
        border-radius: 10px;
    }

    .button {

        padding: 5px 20px;
        margin-top: 5px;
        border-radius: 5px;
        text-decoration: none;
        border: none;

        font-size: large;
    }

    .small {
        padding: 10px 25px;
        width: 129px;
        font-size: 16px;
        font-weight: 550;
    }

    .big{
        padding: 5px 30px;
        font-size: large;
        border: 2px solid white;
        
    }

    .primary:visited {
        color: white;
    }

    .primary {
        background-color: #3882f6;
        color: white;
    }

    .primary:hover {
        background-color: #1669e6;
    }

    .secondary {
        margin: 0;;
        background-color:transparent;
        text-decoration: underline;
        font-size:large;
        padding:0;
    }

    .secondary:hover{
        color: rgb(211, 207, 207);
    }

    .middle{
        padding-bottom: 80px;
        background-color: white;
    }

    .middle-section-container{
        padding: 0 250px;

        background-color: white;
    }

    .middle-section-info-container:nth-child(1){
        padding: 10px;

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .middle-section-info-container .items {
        justify-content:space-evenly;

    }

    .middle-section-info-container .items .recipe-info {
       flex-basis: 10%;
       margin-top: 10px;

    }

    .middle-section-info-container  .desc{
        text-align: center;
       
        color: #1f2937;

    }

    .middle-section-info-container .items .recipe-info .recipe-img div {
        height: 180px; width :180px;

        /* border:4px solid rgb(59,130,246); */
        border-radius: 15px;

        max-height: 100%;
        max-width: 100%;


    }

    .middle-section-info-container .items .recipe-info .recipe-img div img {
       max-width: 100%;
       max-height: 100%;
       border-radius: 15px;
    }



    .middle-section-info-container .items .recipe-info .recipe-desc {
        padding-top: 5px;
        padding-left: 2px;
        text-align: justify;
        font-size: small;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .middle-section-info-container .items .recipe-info .recipe-desc div {
         width :150px;
    }

    .x{
        border: 1px solid black;
    }

    .v {
         flex-direction: column;
    }

    /* .h {
         flex-direction: row;
    } */


    .original-photo-creators * {
        font-size: x-small;
       
    }

    .original-photo-creators-heading{
        color: white;

        font-size: small;
        
        padding: 10px;
    }

    .original-photo-creators , .original-photo-creators *{
        padding-right: 10px;
        padding-left: 10px;
        display: grid;

        grid-template-columns: 1fr 1fr ;

        gap: 5px;

        color:white;
    }

    .quote-section {
        background-color: #E5E7EB;

        min-height: 430px;
        color: #1f2937;
        font-size: 36px; 
        font-style: italic;  
        font-family:'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
        font-weight:200;

        padding:0px 10px;

        display: flex;
       
        margin:0 auto;

        flex-direction: column;
       
        justify-content: center;
    }
    
    .quote{
       flex: 1;
       display: flex;
    
    }

    .quote-section .quote-desc div{
        margin:auto ;
        max-width: 800px;
  
    }

    .quote-section .quote-desc .author{
        text-align: right;
        font-weight:450;
        font-style: normal;
        font-size:x-large;
        padding-right: 3rem;
    }
         
    .call-action-section {
        background: white;
        min-height: 350px;
     
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
    }

    .call-action-section .call-action > * ,  
    .call-action-section .register-info > *{
        padding-left: 55px;
        padding-top: 15px;
    }

    .call-action-section .sign-up {
        padding-right: 55px;
    }

    .call-action-section {
        display: flex;
    }


    .call-action{
        display: flex;
    }

  
    .call-action-section .call-action {

        width: 59.4%;
        height: 150px;
        background: #3882f6;
      
       
        border-radius: 10px;
    }

    .call-action-section .register-info{
        flex :2;
       
    }

    .call-action-section .register-info h2 {
        margin-bottom: 0px;
    }

    .call-action .sign-up 
    {
        display: flex;
       flex: 1;
        align-items: center;
        justify-content: center;

    }


    .footer-section{
        background-color: #1f2937;
    }
    
    .copyright{
        color: white;
       text-align: center;
       padding: 25px;
    }




@media(max-width:1800px) { 
.root{
    padding:0px;
}
}


@media(max-width:1700px) { /*  1700 */
.middle-section-container{
     padding: 0 240px;
}

}

@media(max-width:1500px) { /*  1500 */
.middle-section-container{
     padding: 0 120px;
}
}

@media(max-width:1300px) { /*  1320 */
.middle-section-container{
     padding: 0 20px;
}
}

@media(max-width:1100px) { /*  1320 */
.middle-section-container{
     padding: 0px;
}
}

@media(max-width:900px) { /*  1320 */
.middle-section-container{
     padding: 0px;
}
.middle-section-info-container .items {
 
 flex-wrap: wrap;
}
}


@media(max-width:1360px) { /*  1260 different */

.header-container {
     padding: 0 10px ;
}

.root {
max-width: 100%;
}

}


@media(max-width:1000px){ /*  800 */

.info-container {
 flex-direction: column;
}

/*  
.info-one{
order: 2;
}

.info-two{
 order: 1;
} 
*/

.root {
     margin: 0 ;
     max-width: 100% ;
   
}

}


